<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Arrowhead Homes</div>
  <!-- Table -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Address</th>
        <th>Sq. Ft.</th>
        <th>Bedrooms</th>
        <th>Baths</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% allHomes.forEach(function(home, index) { %>
        <tr>
          <th><%- index + 1 %></th>
          <td><%- home.address %></td>
          <td><%- home.sqft %></td>
          <td><%- home.bedroomsNum %></td>
          <td><%- home.bathsNum %></td>
          <td>$<%- home.price %></td>
        </tr>
      <% })%>
    </tbody>
  </table>
</div>

<div class="form-container">
  <h2>Add New Home</h2>
  <form action="/" method="post">
    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" name="address" class="form-control" id="address" placeholder="Address">
    </div>
    <div class="form-group">
      <label for="Sq.Ft.">Sq.Ft.</label>
      <input type="text" name="sqft" class="form-control" id="Sq.Ft." placeholder="Sq.Ft.">
    </div>
    <div class="form-group">
      <label for="bedrooms">Bedrooms</label>
      <input type="text" name="bedrooms" class="form-control" id="bedrooms" placeholder="Bedrooms">
    </div>
    <div class="form-group">
      <label for="baths">Baths</label>
      <input type="text" name="baths" class="form-control" id="baths" placeholder="Baths">
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="text" name="price" class="form-control" id="price" placeholder="Price">
    </div>
    <button type="submit" class="btn btn-default">Add New Home</button>
  </form>
</div>
